$off-black: #20222b;
$off-white: #a5afd7;
$light-blue: #464b5e;
$darkblue: #333745;
$blue: #3c4251;
$purple: #8357c5;
$msize: 1.6rem;
$lsize: 3.22rem;
$xlsize:4.8rem;
$s-size:1.2rem;
$desktop-breakpoint: 45rem;
